---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";

const committeeMembers = [
  {
    name: "ダミー 委員長",
    title: "実行委員長 / アジャイルコーチ",
    avatar: "https://api.dicebear.com/7.x/avataaars/svg?seed=Committee1",
  },
  {
    name: "ダミー 副委員長",
    title: "副委員長 / スクラムマスター",
    avatar: "https://api.dicebear.com/7.x/avataaars/svg?seed=Committee2",
  },
  {
    name: "ダミー 広報",
    title: "広報担当 / プロダクトオーナー",
    avatar: "https://api.dicebear.com/7.x/avataaars/svg?seed=Committee3",
  }
];
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">実行委員会について</Fragment>
      <Fragment slot="desc">スクラム祭りを作り上げるメンバーたちです。</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        スクラム祭り コンセプト
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        ここにスクラム祭りのコンセプトが入ります。参加者全員が楽しみながらスクラムの価値と実践を学び、現場に持ち帰ることを目的としています。多様なバックグラウンドを持つ人々が交流し、新しいアイデアを生み出す場を提供します。
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        committeeMembers.map((member) => (
          <div class="group">
            <div class="w-full aspect-square overflow-hidden rounded-sm bg-slate-100 border border-slate-200">
              <img
                src={member.avatar}
                alt={member.name}
                class="w-full h-full object-cover transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{member.name}</h2>
              <h3 class="text-sm text-slate-500">
                {member.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
