---
import { Picture } from "astro:assets";
import scrumAt from "@/assets/scrumat.jpg";
import Link from "@/components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={scrumAt}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      スクラム祭り2026
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      カンファレンスでは多様な参加者が集まることで様々な視点で物事を捉えることができ、多くの学びを手に入れることが可能です。
      一方で、そこで得た学びを具体的な行動変容へと繋げるためには、お互いに信頼し合える少人数で安全な場も同じく重要だと感じています。
      そこで、私たちは以下を目的としたアジャイルコミュニティの祭典を「スクラム祭り」として開催します。
    </p>
    </div>
  </div>
</main>
