---
---

<div class="mt-16 md:mt-24 mb-16 md:mb-24">
  <div class="text-center">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">開催日時</h2>
    <p class="text-lg mt-4 text-slate-600">本イベントは以下の2日間にわたって開催されます。</p>
  </div>
  <div class="max-w-2xl mx-auto mt-10">
    <div class="flex flex-col sm:flex-row gap-6 justify-center">
      <div class="flex-1 bg-slate-50 p-8 rounded-lg shadow-sm border border-slate-100 text-center">
        <h3 class="text-2xl font-bold text-indigo-500">Day 1</h3>
        <p class="text-xl text-slate-800 mt-2 font-semibold">2026/10/23</p>
      </div>
      <div class="flex-1 bg-slate-50 p-8 rounded-lg shadow-sm border border-slate-100 text-center">
        <h3 class="text-2xl font-bold text-indigo-500">Day 2</h3>
        <p class="text-xl text-slate-800 mt-2 font-semibold">2026/10/24</p>
      </div>
    </div>
  </div>
</div>